<nav class="navbar navbar-light bg-dark">
    <a id="navbar" href="/">
        <img id="imagem-navbar" src="/img/pangolin.png">
    </a>
    <a href="/" style="position: absolute; left: 85px; font-size: 25px; font-family: MontSerrat,Tahoma,Arial,sans-serif; color: #1a1919; text-decoration: none;">Pangolin</a>
</nav>