
<%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <hr>
        <h1 class="resposta"><%= pergunta.titulo %></h1>
        <p class="resposta"><%= pergunta.descricao %></p>
        <hr>

        <form method="POST" action="/responder">
            <h3 class="resposta">Responda</h3>
            <label class="resposta">Resposta</label>
            <textarea placeholder="Digite a sua resposta aqui" class="form-control" name="corpo" required></textarea>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>" required>
            <hr>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <hr>
        <% respostas.forEach(resposta => { %>
            <div class="card">
                <div class="cad-body">                               
                    <p><%= resposta.corpo %></p>
                </div>               
            </div>    
        </br>   
        <% }) %>

        <% var count = respostas.length %>
        <input type="hidden" name="resposta" value="<%= count %>">
    </div>

</body>
<%- include('./partials/footer') %>